<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4f2a5">  <td>24/01/29 14:15:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Put_TestCase@413f69cc]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>24/01/29 14:15:33</td>   <td>-10617</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Post_TestCase@36060e]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>24/01/29 14:15:34</td>   <td>-9343</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Put_TestCase@413f69cc]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>24/01/29 14:15:42</td>   <td>-1424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.put_executor(java.lang.String,java.lang.String)[pri:0, instance:Test_Case_Packg.Put_TestCase@413f69cc]">put_executor</td> 
  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>24/01/29 14:15:43</td>   <td>-6</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Post_TestCase@36060e]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>24/01/29 14:15:34</td>   <td>-9264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.post_executor()[pri:0, instance:Test_Case_Packg.Post_TestCase@36060e]">post_executor</td> 
  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>24/01/29 14:15:42</td>   <td>-1424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.put_executor(java.lang.String,java.lang.String)[pri:0, instance:Test_Case_Packg.Put_TestCase@413f69cc]">put_executor</td> 
  <td>main@1380924218</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>24/01/29 14:15:42</td>   <td>-1424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.put_executor(java.lang.String,java.lang.String)[pri:0, instance:Test_Case_Packg.Put_TestCase@413f69cc]">put_executor</td> 
  <td>main@1380924218</td>   <td></td> </tr>
</table>
