<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a36bc1">  <td>24/01/08 12:52:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Get_TestCase@5505ae1a]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="7a7e9c">  <td>24/01/08 12:52:25</td>   <td>357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.patch_executor()[pri:0, instance:Test_Case_Packg.Patch_TestCase@416c58f5]">patch_executor</td> 
  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="7a7e9c">  <td>24/01/08 12:52:28</td>   <td>3771</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Patch_TestCase@416c58f5]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="a36bc1">  <td>24/01/08 12:52:27</td>   <td>2738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.get_executor()[pri:0, instance:Test_Case_Packg.Get_TestCase@5505ae1a]">get_executor</td> 
  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="7a7e9c">  <td>24/01/08 12:52:24</td>   <td>16</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Patch_TestCase@416c58f5]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617928649</td>   <td></td> </tr>
<tr bgcolor="a36bc1">  <td>24/01/08 12:52:28</td>   <td>3769</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Get_TestCase@5505ae1a]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617928649</td>   <td></td> </tr>
</table>
