<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcf767">  <td>23/12/20 21:18:21</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Patch_TestCase@1583741e]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="87a1cb">  <td>23/12/20 21:18:21</td>   <td>12</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Post_TestCase@36a5cabc]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/20 21:18:21</td>   <td>-10</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Get_TestCase@36060e]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/20 21:18:21</td>   <td>18</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Put_TestCase@5b367418]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/20 21:18:08</td>   <td>-12364</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Patch_TestCase@1583741e]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/20 21:18:08</td>   <td>-12394</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Get_TestCase@36060e]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/20 21:18:10</td>   <td>-10705</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Put_TestCase@5b367418]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="87a1cb">  <td>23/12/20 21:18:10</td>   <td>-10851</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Post_TestCase@36a5cabc]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/20 21:18:20</td>   <td>-605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.get_executor()[pri:0, instance:Test_Case_Packg.Get_TestCase@36060e]">get_executor</td> 
  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/20 21:18:17</td>   <td>-3823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.patch_executor()[pri:0, instance:Test_Case_Packg.Patch_TestCase@1583741e]">patch_executor</td> 
  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="87a1cb">  <td>23/12/20 21:18:10</td>   <td>-10507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.post_executor()[pri:0, instance:Test_Case_Packg.Post_TestCase@36a5cabc]">post_executor</td> 
  <td>main@1478995734</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/20 21:18:19</td>   <td>-2055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.put_executor()[pri:0, instance:Test_Case_Packg.Put_TestCase@5b367418]">put_executor</td> 
  <td>main@1478995734</td>   <td></td> </tr>
</table>
