<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ccc5">  <td>23/12/30 08:18:51</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestCase.Teardown()[pri:0, instance:Test_Case_Packg.Post_TestCase@42530531]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072506992</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>23/12/30 08:18:44</td>   <td>-7033</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestCase.Test_setup()[pri:0, instance:Test_Case_Packg.Post_TestCase@42530531]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072506992</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>23/12/30 08:18:45</td>   <td>-5800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.post_executor()[pri:0, instance:Test_Case_Packg.Post_TestCase@42530531]">post_executor</td> 
  <td>main@1072506992</td>   <td></td> </tr>
</table>
